@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import "./reset.css";

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #669dc3, #e5eff5);
  background-attachment: fixed;
}

main {
  margin: 0;
}

img {
  width: 100%;
}
